name: .NET Tests

on:
  workflow_call:
    inputs:
      runs-on:
        required: true
        type: string
      vs-version:
        required: true
        type: string
      dotnet-version:
        required: true
        type: string

jobs:
  test:
    runs-on: ${{ inputs.runs-on }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ inputs.dotnet-version }}

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: ${{ inputs.vs-version }}

    - name: Build
      run: dotnet build DotNetBuildable.slnf /p:Configuration=Release

    - name: Create global.json to enforce .NET 8 for MSBuild and update Tests/TestData projects
      if: inputs.dotnet-version == '8.0.x'
      shell: pwsh
      run: ./.github/scripts/update-testdata-targetframework.ps1

    - name: Log MSBuild version
      run: msbuild -version

    - name: Log .NET version
      run: dotnet --info

    - name: Execute unit tests
      run: dotnet test Tests/Tests.csproj -c Release --framework net${{ inputs.dotnet-version == '8.0.x' && '8.0' || '10.0' }} --no-build
